@page "/addcase"
@inject HttpClient Http
@inject NavigationManager NavManager
    <Auth />



<div class="container">
    <h3>Add Case</h3>
    <hr />
    <EditForm Model="@casee" OnSubmit="@CreateCaseAsync">

        <div class="form-group w-25">
            <h5>
                Enter your UserId
            </h5>
            <input type="text" class="form-control" placeholder="User" @bind="casee.UserId" required />
        </div>

        <select @bind="casee.ClientId" class="form-group form-control dropdown btn btn-secondary w-25 " aria-label="Select Client" required>
            <option selected>Select Client</option>
            @foreach (var client in clients)
            {
                <option value="@client.Id">@client.FullName</option>
            }
        </select>
        
        <div class="form-group w-100">
            <textarea type="text" class="form-control" placeholder="Description" @bind="casee.Descrip" required />
        </div>
        <hr />
        <div class="form-group w-25">
            <button type="submit" class="btn btn-primary oi oi-plus w-50 h-50"></button>
        </div>
    </EditForm>
</div>



@code {
    private Case casee;
    private IEnumerable<Client> clients;
    private HttpResponseMessage result;


    private async Task CreateCaseAsync()
    {
        try
        {

            casee.Created = DateTime.Now;
            casee.LatestUpdate = DateTime.Now;
            casee.StatusCode = "Ej Påbörjad";
            result = await Http.PostAsJsonAsync<Case>("https://localhost:44350/api/cases", casee);

            if (result.IsSuccessStatusCode)
            {
                NavManager.NavigateTo("/cases");
            }
            else
            {
                NavManager.NavigateTo("/errorpage");
            }
        }
        catch { }
    }

    protected override async Task OnInitializedAsync()
    {
        casee = new Case();
        clients = new List<Client>();

        try
        {
            clients = await Http.GetFromJsonAsync<IEnumerable<Client>>("https://localhost:44350/api/clients");
        }
        catch { }

    }











}


