@page "/client"
@inject HttpClient Http
<Auth/>


    <div class="col-8">
        <h2>Clients</h2>
    </div>
    <hr />
    <div m-2>
        <NavLink href="/addclient" class="btn btn-info text-white form-control w-25 mb-2">New Client</NavLink>
    </div>
    @if (clients == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <table class="table table-bordered  table-striped">
            <thead>
                <tr>
                    <th width="4%">Id</th>
                    <th width="25%">Name</th>
                    <th width="25%">PhoneNumber</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in clients)
                {
                    <tr>
                        <td width="4%">@c.Id</td>
                        <td width="25%">@c.FullName</td>
                        <td width="25%">@c.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
       
    }



@code {
    private Client[] clients;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            clients = await Http.GetFromJsonAsync<Client[]>("https://localhost:44350/api/clients");
        }
        catch { }

    }


}