@page "/client"
@inject HttpClient Http


<div class=" m-5 row">
    <div class="col-8">
        <h1 class="text-secondary">Clients</h1>
    </div>
    <div class="col-1">
        <NavLink href="/addclient" class="btn btn-primary form-control">New Client</NavLink>
    </div>
    @if (clients == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <table class="table table-bordered  table-striped">
            <thead>
                <tr>
                    <th width="4%">Id</th>
                    <th width="25%">Name</th>
                    <th width="25%">PhoneNumber</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in clients)
                {
                    <tr>
                        <td width="4%">@c.Id</td>
                        <td width="25%">@c.FullName</td>
                        <td width="25%">@c.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
       
    }
</div>


@code {
    private Client[] clients;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            clients = await Http.GetFromJsonAsync<Client[]>("https://localhost:44350/api/clients");
        }
        catch { }

    }


}