@page "/client"
@inject HttpClient Http


<div class=" container m-2 p-2  bg-dark justify-content-center">
    <h1 class="text-white-50">Clients</h1>
    <p>
        <NavLink href="/addclient" class="btn btn-primary oi oi-plus w-25  "></NavLink><br />
    </p>

    @if (clients == null)
    {
        <div class="spinner"></div>
    }
    else
    {
        <table class="table table-bordered table-dark table-striped">
            <thead>
                <tr>
                    <th width="4%">Id</th>
                    <th width="25%">Name</th>
                    <th width="25%">PhoneNumber</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in clients)
                {
                    <tr>
                        <td width="4%">@c.Id</td>
                        <td width="25%">@c.FullName</td>
                        <td width="25%">@c.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


@code {
    private Client[] clients;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            clients = await Http.GetFromJsonAsync<Client[]>("https://localhost:44350/api/clients");
        }
        catch { }

    }


}