@page "/"
@inject HttpClient Http
@inject NavigationManager NavManager

<div class="container">
    <div class="m-5">
        <div class="col-12">
            <h1>Login</h1>
        </div>
        <hr />
        <EditForm Model="@signIn" OnSubmit="@SignInAsync">
            <div class="form-group w-75">
                <input type="text" class="form-control" placeholder="Email" @bind="signIn.Email" required />
            </div>
            <div class="form-group w-75">
                <input type="password" class="form-control" placeholder="Password" @bind="signIn.Password" required />
            </div>
            <div class="form-group w-100">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </EditForm>
    </div>

</div>


@code {
    private SignIn signIn;
    private HttpResponseMessage result;

    private async Task SignInAsync()
    {
        try
        {
            result = await Http.PostAsJsonAsync<SignIn>("https://localhost:44350/api/users/signin",
            new SignIn { Email = signIn.Email, Password = signIn.Password });

            var data = JsonConvert.DeserializeObject<dynamic>(await result.Content.ReadAsStringAsync());

            Http.DefaultRequestHeaders.Add("Authorization", $"Bearer {data.accessToken}");
            NavManager.NavigateTo("/index");
        }
        catch { }


    }

    protected override void OnInitialized()
    {
        signIn = new SignIn();
    }
}
